name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write
  packages: write

jobs:
  build:
    name: Build and Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.24'

      - name: Install cross-compiler for Linux
        run: sudo apt-get update && sudo apt-get install -y gcc-x86-64-linux-gnu

      - name: Build for Linux
        run: |
          VERSION=${{ github.ref_name }}
          CGO_ENABLED=1 GOOS=linux GOARCH=amd64 CC=x86_64-linux-gnu-gcc go build -v -ldflags="-s -w -X main.Version=$VERSION" -o kaf-mirror-linux-amd64 cmd/kaf-mirror/main.go
          CGO_ENABLED=1 GOOS=linux GOARCH=amd64 CC=x86_64-linux-gnu-gcc go build -v -ldflags="-s -w" -o admin-cli-linux-amd64 cmd/admin-cli/main.go
          CGO_ENABLED=1 GOOS=linux GOARCH=amd64 CC=x86_64-linux-gnu-gcc go build -v -ldflags="-s -w -X main.Version=$VERSION" -o mirror-cli-linux-amd64 cmd/mirror-cli/main.go

      - name: Build for Windows
        run: |
          VERSION=${{ github.ref_name }}
          GOOS=windows GOARCH=amd64 go build -v -ldflags="-s -w -X main.Version=$VERSION" -o mirror-cli-windows-amd64.exe cmd/mirror-cli/main.go

      - name: Build for macOS
        run: |
          VERSION=${{ github.ref_name }}
          GOOS=darwin GOARCH=amd64 go build -v -ldflags="-s -w -X main.Version=$VERSION" -o mirror-cli-darwin-amd64 cmd/mirror-cli/main.go

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/kaf-mirror:${{ github.ref_name }}
            ghcr.io/${{ github.repository_owner }}/kaf-mirror:latest

      - name: Create Release and Upload Assets
        uses: softprops/action-gh-release@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          files: |
            kaf-mirror-linux-amd64
            admin-cli-linux-amd64
            mirror-cli-linux-amd64
            mirror-cli-windows-amd64.exe
            mirror-cli-darwin-amd64
          draft: false
          prerelease: false
          fail_on_unmatched_files: true
          generate_release_notes: true
